# Private / Temp
.env
node_modules/
dist/
__pycache__/
venv/
uploads/
outputs/
logs/

# ALLOW the data and cache folders
!data/
!data/**
!amenities_cache/
!amenities_cache/**

# IDEs
.vscode/
.idea/
.gemini/
.antigravity/